<h2>{{sheet.name}} <a class="btn btn-warning btn-xs" ui-sref="sheets.edit({id: sheet._id})"><span class="glyphicon glyphicon-edit"></span> Edit</a></h2>
<p>This sheet is shared between {{sheet.friends.length}} friends (<a ui-sref="sheets.friends({id: sheet._id})">add more</a>) and contains {{sheet.expenses.length}} expenses (<a ui-sref="sheets.expenses({id: sheet._id})">add more</a>).</p>
<p style="word-wrap: break-word;">Share this sheet with your friends: <strong>{{url}}</strong></p>

<h2>Balance</h2>
<div ng-repeat="b in balance">
	<div ng-repeat="owe in b.owes">
		<span ng-if="owe.amount > 0"><strong>{{b.name}}</strong> owes <strong>$ {{owe.amount | number:2}}</strong> to <strong>{{owe.name}}</strong>.</span>
	</div>
</div>